body {
    line-height: 1;
    background: #221f1f;
    color: #f5f5f1;
    font-weight: normal;
}

.gameContainer{
    /*margin-top: 10rem;*/
    margin-top: 100px;
    display: table;
    margin-left: auto;
    margin-right: auto;

    border-collapse: separate;
    border-spacing: 10px;
}

.gameBody {
    display: table-row-group;
}

.gameRow {
    display: table-row;
}

.gameHeader {
    display: table-header-group;
    font-size: inherit;
}
.gameFooter {
    display: table-footer-group;
    font-size: inherit;
}

cell {
    border: 2px solid #564d4d;
    display: table-cell;
    text-align: center;
    padding: 10px;
}
cell.totalCell {
    background: #3b3b3b;
    /*visibility: hidden;*/
}
cell.totalCell.visible {
    visibility: visible;
}
cell.emptyCell {
    border: none;
    background: transparent;
}
cell.locked {
    border-width: 2px;
}
cell.gameCell {
    border-radius: 25px;
    background: #e50914;
}
cell.gameCell.inactive {
    background: #2f2f2f;
}
cell.targetCell {
    color: #828282;
    background: #2f2f2f;
}

cell.gameCell.locked {
    border-color: #FFE030;
}
cell.targetCell.locked  {
    border-color: #FFE030;
    color: #FFE030;
}

cell.gameCell.inactive.locked {
    border-color: #8c8c8c;
}